<%= content_tag :div, id: "article-show-wrap" do %>


<%= image_tag("/assets/#{@article.image_url}", id: "article-picture")%>


<%= content_tag :div, @article.title, class: "article-title"%> 




<%= content_tag :div, @article.created_at.strftime('%A, %B %d, %Y'), id: "article-date"%> 

<% @article.topics.each do |t| %>
<%= content_tag :div, id: "article-category" do %>
<%= t.category %>
<% end %>
<% end %>

<%= content_tag :div, id: "article-author" do -%>
<%=@article.staff.fname%> <%=@article.staff.lname%>, <%=@article.staff.job_title%>
<%end%>




<div id: "article-body">
	<%= simple_format @article.body%> 
</div>
<%end%>




<%if session[:subscriber_id] %>
Anything you'd like to add?  
<%= form_tag "/comments", method: "post" do %>   
<%=label_tag :feedback %>   
<%=text_field_tag :feedback %> 
<%= hidden_field_tag :article_id, @article.id %>
Form contents
<%=submit_tag "Let your voice be heard." %> 
<% end %>

<%else%>
We would love to hear your thoughts on this article.  Please log in to post a comment.
<%end%>





<!-- This is a list of comments -->
<div id="comment-wrap">
	<% @comment.last(10).reverse.each do |w|%> 
	<div id="comment-name">	
		<%= w.subscriber.fname%> <%= w.subscriber.lname%> 
	</div>
	<div id="comment-city">(<%= w.subscriber.city%>, <%= w.subscriber.state%>)
	</div>
	<div id="comment-feedback">
		<%= w.feedback%>
	</div>

	<div id="comment-date">
		<%= content_tag :div, w.created_at.strftime('%A, %B %d, %Y  %I:%M %p'), id: "comment-date"%> 
	</div>	
	<% end%>
</div>


