<div class="article_view">
	<%= content_tag :div, id: "article-show-wrap" do %>
	<%= image_tag("/assets/#{@article.image_url}", id: "article-picture")%>

	<%= content_tag :div, @article.title, class: "article-title"%>

	<%= content_tag :div, @article.created_at.strftime('%A, %B %d, %Y'), id: "article-date"%> 

	<% @article.topics.each do |t| %>
	<%= content_tag :div, id: "article-category" do %>
	<%= t.category %>
	<% end %>
	<% end %>

	<%= content_tag :div, id: "article-author" do -%>
	<%=@article.staff.fname%> <%=@article.staff.lname%>, <%=@article.staff.job_title%>
	<%end%>

	<%= content_tag :div, @article.body, id: "article-body"%> 


	<%end%>
	<div class="comments_view">


		<%if session[:subscriber_id] %>
		<h4 id="comment-header">Anything you'd like to add <span class="blue_bold"><%= @current_subscriber.fname%></span>?</h4>
		<div class="form">
			<%= form_tag "/comments", method: "post" do %>   
			<%=label_tag :feedback %>   
			<%=text_field_tag :feedback %> 
			<%= hidden_field_tag :article_id, @article.id %>
			<br>
			<div class="button"><%=submit_tag "Let your voice be heard." %></div>
			<% end %>
		</div>

		<%else%>
		<h4 id="comment-header">We would love to hear your thoughts on this article.  Please <span class="user_login"><%= link_to 'Sign Up', new_subscriber_path %></span> to post a comment.</h



			<%end%>
		</div>
	</div>
</div>
<div class="comments_feed">
	<h2 id="recent-comments-header">Recent Comments</h2>
	<!-- This is a list of comments -->
	<div id="comment-wrap">
		<% @comment.last(10).reverse.each do |w|%> 
		<span class="comment-name"><%= w.subscriber.fname%> <%= w.subscriber.lname%>
		</span>
		<span class="comment-city">| (<%= w.subscriber.city%>, <%= w.subscriber.state%>)
		</span>
		<br>
		<span class="comment-feedback"><%= w.feedback%></span>
		<span id="comment-date">
			<%= content_tag :div, w.created_at.strftime('%A, %B %d, %Y  %I:%M %p'), id: "comment-date"%> 
		</span>	
		<% end%>
	</div>
</div>
	


