<h1>Subscribers#new</h1>
<p>Find me in app/views/subscribers/new.html.erb</p>

<%= form_for @subscriber do |f| %>   
<%=f.label :First_Name %>   
<%=f.text_field :fname %> 
<%=f.label :Last_name %>   
<%=f.text_field :lname %>  
<%=f.label :email %>   
<%=f.text_field :email %>  
<%=f.label :password %>   
<%=f.text_field :password %>  
<%=f.label :city %>   
<%=f.text_field :city %> 
<%=f.label :state %>   
<%=f.select :state, options_for_select(us_states) %>    
<%=f.submit :create %> 
<% end %>
