

<%if @subscriber == @current_subscriber%>

<h1><%= @current_subscriber.fname%> <%= @current_subscriber.lname%></h1> <%= @current_subscriber.email%>
<p>Your comments to articles:</p>


<div id="works-list">
 	<table border="1" width="900px">
 		<tr>
 			<td width="270"><b>Article</b></td>
 			<td width="100"><b>Author</b></td>
 			<td width="200"><b>Comment</b></td>
 			<td width="200"><b>Posted</b></td>
 			<%if @subscriber == @current_subscriber%>
 			<td width="20"><b>Delete?</b></td>
 			<%end%>

 		</tr>
			<% @comment.reverse.each do |w|%> 
			<tr>
			<td><%=link_to w.article.title, article_path(w.article.id) %></td>
			<td><%=w.article.staff.fname[0]%>. <%=w.article.staff.lname%></td>
			<td><%= w.feedback%> </td>

			<td><%= w.created_at.strftime('%B %d, %Y  %I:%M %p')%> </td>

			<td width="20"><%= link_to 'Remove',  {:controller => "comments", :action => 'destroy', :id => w.id}, :confirm => "Are you sure you want to delete this article?", :method => :delete %></td>


 			
 			
 		</tr>



 		<% end%>
 	</table>
 </div>



<%else%>

You do not have permission to access this page.

<%end%>


 