<!DOCTYPE html>
<html>
<head>
	<title>News</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<header>
		<%= link_to image_tag("nycda_logo_1.png", width: "400px"),root_path %>
		<nav id="user">




			<%if session[:subscriber_id] %>


				<div id="sign_in_form">
					<li class="user_login">  Welcome, <%= @current_subscriber.fname%> <%= @current_subscriber.lname%>.
						<div class="form">
							<%= link_to 'Account', (subscriber_path(@current_subscriber)) %>


							</div>
							<div class="form">


							<%= link_to 'Log Out', logout_path, method: :delete %>
						</div>
					</li>
				</div>



				<%elsif session[:staff_id] %>


				<div id="sign_in_form">
					<li class="user_login">  Welcome, <%= @current_staff.fname%> <%= @current_staff.lname%>.
						<div class="form">
							<%= link_to 'View your account', (staff_path(@current_staff)) %>

							</div>
							<div class="form">


							


							<%= link_to 'Click here to Log Out', logout_path, method: :delete %>
						</div>
					</li>
				</div>





			<%else%>
			
							<div class="form">
			<div id="sign_in_form">
				<li class="user_login">Sign In:
					<div class="form">
						<%= form_tag '/login', method: :post do %>
							<%= label_tag :email %>
							<%= email_field_tag :email %>
							<br>
							<%= label_tag :password %>
							<%= password_field_tag :password %>
							<div class="button"><%= submit_tag "Log In" %></div>
						<% end %>
					</div>
				</li>
			</div>

			<%end%>

		</nav>




		<nav id="topics">
			<% @topics.each do |topic| %>
			<li class="topics_nav"><%= link_to (topic.category), (topic_path(topic.id)) %></li>
			<% end %>
		</nav>
	</header>
	<div class="container">
	<%= yield %>
	</div>
</body>
</html>



	

